name: Discord Commit Webhook

on:
  push:
    branches:
      - '**'

jobs:
  discordNotification:
    runs-on: ubuntu-latest
    steps:
      - name: Send commit embed to Discord
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          embed-title: "New Commit: ${{ github.event.repository.name }}"
          embed-url: "${{ github.event.head_commit.url }}"
          embed-description: "${{ github.event.head_commit.message }}"
          embed-color: 5814783
          embed-author-name: "${{ github.actor }}"
          embed-author-icon-url: "https://github.com/${{ github.actor }}.png"
          embed-footer-text: "Branch: ${{ github.ref_name }}"
          embed-timestamp: "${{ github.event.head_commit.timestamp }}"
